<nav class="navbar">
  <div class="container">
    <div class="p-grid">
      <div class="p-col-12">

        <a href="javascript:;" class="navbarTeggle" (click)="showmenu = !showmenu"> <i class="pi pi-bars"></i></a>

      </div>
    </div>

  </div>
  <ul class="navbar-menu" [hidden]="!showmenu">
    <li class="navbar-user">{{userloggin}}</li>
    <li class="navbar-item" routerLinkActive="active" *ngIf="hasPermission('ROLE_PESQUISAR_LANCAMENTO')"><a routerLink="/lancament">Lacament</a></li>
    <li class="navbar-item"  routerLinkActive="active" *ngIf="hasPermission('ROLE_PESQUISAR_PESSOA')"><a  routerLink="/person">Person</a></li>
    <li class="navbar-item"  routerLinkActive="active" ><a  (click)= "logout()">Logout</a></li>

  </ul>

</nav>
