<nav class="navbar">
  <div class="container">
    <div class="p-grid">
      <div class="p-col-12">

        <a href="javascript:;" class="navbarTeggle" (click)="showmenu = !showmenu"> <i class="pi pi-bars"></i></a>

      </div>
    </div>

  </div>
  <ul class="navbar-menu" [hidden]="!showmenu">
    <li class="navbar-user">TKSGD</li>
    <li class="navbar-item"><a href="#">Lacament</a></li>
    <li class="navbar-item"><a href="#">Person</a></li>
    <li class="navbar-item"><a href="#">Lacament</a></li>

  </ul>

</nav>
