<div class="container">

<form (ngSubmit)="save(form)" #form>
	 <div class="p-grid">
<div class="p-col-12">
	<h1>{{edit?"Edit":"New"}} Lancamento</h1>
</div>
<div class="p-col-12">
	<p-selectButton  [options]="tips" #tip name="g" [(ngModel)]="lacament.tipo"></p-selectButton>
</div>
<div class="p-col-6 p-md-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="false"
          [showIcon]="false" ngModel name="vencimento" [(ngModel)]="lacament.dataVencimento" #vencimento="ngModel"></p-calendar>
         <app-message [control]="vencimento" error="required" message='No Date of Venciment please,inform then.'></app-message>
      </div>
      <div class="p-col-6 p-md-3 p-fluid" >
        <label>{{ tip.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy"  [(ngModel)]="lacament.dataPagamento" name='datapagamento'></p-calendar>
      </div>
      <div class="p-col-12 p-md-9 p-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="description"
        ngModel
        #description='ngModel'
         [(ngModel)]="lacament.descricao"
        required
        minlength=5>

         <app-message [control]="description" error="required" message='No Description please,inform then.'></app-message>
        <app-message [control]="description" error="minlength" message='No Description need have {{description.errors?.minlength?.requiredLength}}  caracters  please fix then.'></app-message>
      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Valor</label>
  <p-inputNumber
   mode="decimal"
   locale="en-US"
   prefix="R$"
   [minFractionDigits]="2"
    ngModel
    name="value"
    #value="ngModel"
     [(ngModel)]="lacament.valor"></p-inputNumber>
        <app-message [control]="value" error="required" message='No Description please,inform then.'></app-message>

      </div>
      <div class="p-col-12 p-md-6 p-fluid">
        <label>Categoria</label>
       <p-dropdown [options]="categories" placeholder="Select a Categorie" name="categoria" [(ngModel)]="lacament.categoria.id"></p-dropdown>

      </div>
      <div class="p-col-12 p-md-6 p-fluid">
        <label>Pessoa</label>
      <p-dropdown [options]="persons" placeholder="Select a person" [filter]="true" name='pessoa'  [(ngModel)]="lacament.pessoa.id"></p-dropdown>
      </div>
      <div class="p-col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name='obs' [(ngModel)]="lacament.observacao"></textarea>
      </div>
      <div class="p-col-12">
        <button pButton type="submit" label="Salvar" [disabled]="form.invalid"></button>
        <button pButton type="button" label="Novo" class="p-button-info" (click)= "new(form)"></button>
        <a routerLink='/lancament'>Voltar para a pesquisa</a>
      </div>
    </div>
</form>

</div>
